@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.main-font{
  font-family: 'Mulish', sans-serif;
}
.mr-2{
  margin-right: 20px;
}
.mr-7{
  margin-right: 70px;
}
.ml-1{
  margin-left: 5px;
}
.ml-2{
  margin-left: 20px;
}
.ml-6{
  margin-left: 60px;
}
.pr-3{
  padding-right: 30px;
}
.pl{
  padding-left: 150px;
}
.pl-2{
  padding-left: 270px;
}
.t-color{
  color: black;
}
.t-color:hover{
  color: aliceblue;
}
.t-less{
  color: rgb(147, 147, 147);
}
.t-less:hover{
  color: rgb(255, 255, 255);
}
.out-btn:hover{
  background-color: rgb(255, 0, 0);
}
.icon-color{
  color: rgb(186, 184, 184);
}
.menu-item:hover .icon-color{
  color: rgb(255, 255, 255); 
}
.end-15{
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px;
}
.end-30{
  position: absolute;
  top: 0px;
  right: 50px;
  padding: 10px;
}
.end-45{
  position: absolute;
  top: 0px;
  right: 100px;
}
.end-50{
  position: absolute;
  left: 50px;
}
.end-60{
  position: absolute;
  left: 60px;
}
.end-70{
  position: absolute;
  left:70px;
}

