@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.main-font{
  font-family: 'Mulish', sans-serif;
}
.mr-2{
  margin-right: 20px;
}
.ml-2{
  margin-left: 20px;
}
.ml-6{
  margin-left: 60px;
}
.mr-7{
  margin-right: 70px;
}
.pr-3{
  padding-right: 30px;
}
.t-color{
  color: black;
}
.t-color:hover{
  color: aliceblue;
}
.icon-color{
  color: rgb(186, 184, 184);
}
.menu-item:hover .icon-color{
  color: rgb(255, 255, 255);
  
}

